<h3 class="ms-4 p-3 text-center text-primary">Gestion des Catégories</h3>
<div class="p-4">
  <form class="form" (ngSubmit)="ngSubmit()">
    <div class="mb-3">
      <label for="labelle" class="form-label fs-5">Libellé</label>
      <input type="text" class="form-control w-50" name="labelle" placeholder="Libellé" [(ngModel)]="categories.labelle">
    </div>
    <button type="submit" class="btn btn-success mt-3">Ajouter</button>
  </form>
</div>

<table class="table table-bordered table-hover mt-4">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Libellé</th>
      <th scope="col">Appareils</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categorie">
      <td>{{category.id}}</td>
      <td>{{category.labelle}}</td>
      <td>
        <span *ngFor="let appareil of appareil">{{appareil.labelle}}, </span>
      </td>
      <td>
        <button (click)="deleteCategorie(category.id)" class="btn btn-danger me-2">Supprimer</button>
        <button (click)="updateCategorie(category.id)" class="btn btn-secondary">Mettre à Jour</button>
      </td>
    </tr>
  </tbody>
</table>
